

main {
    width: 100%;
    display: flex;
    background-color: #F5F5F6;
    min-height: 100vh;
}

.aside__nav-bar__link {
    padding: 10px;
    border-radius: 8px;
    color: #9854F6;
    margin-bottom: 16px;
}

.aside__nav-bar__link:hover {
    background-color: #E5D5FA;
}

.active {
    background-color: #E5D5FA;
}

.movie-card {
    background-color: white;
    border-radius: 12px;
    position: relative;
    .title {
        width: 70%;
    }
    .watched {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

